.article__box {
  width:50%;
  margin-top:50px;
  margin-bottom:50px;
  display:flex;

  @media screen and ( max-width: $tablet ) {
    width:100%;
  }

  &:nth-child(even) {
    justify-content: flex-end;
  }

  .container {
    width:85%;
    padding:0px;
    margin:0;

    @media screen and ( max-width: $tablet ) {
      width:70%;
      margin: 0 auto;
    }

    @media screen and ( max-width: $mobile ) {
      width:100%;
    }

  }

  .category {
    margin-top:24px;
  }

  h3 {
    margin-top:16px;
    margin-bottom:24px;
  }

}

.article__box__image {
  height:280px;
  width:100%;
  margin-bottom:20px;

  img {
    width: 130% !important;
  }

  @media screen and ( max-width: $tablet ) {
    height : 233px;
  }
}
