// colors

$red : #F6595D;
$dark : #212121;
$white : #FFFFFF;
$black : #000000;
$beige : #FFEFF0;
$rose : #FED2D3;
$grey : #979797;
$grey-line : #D8D8D8;
$grey-dark : #4A4A4A;
$checkbox-grey : #E3E3E3;
$h3-filtre : #C3C3C3;


// breackPoint

$desktop : 960px;
$tablet : 760px;
$mobile:500px;

//

$spacing: 8;
$gutter: 20px;



// fonts
$lato : 'Lato',sans-serif;
$montserrat: 'Montserrat', sans-serif;



$animDuration : 6s;
