<div class="article__concours">
  <div class="block__title">
    <h2 class="concours__title">Concours</h2>
  </div>
  <div class="concours__boxArticle">
    <div class="concours__description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime fugit neque doloremque molestias excepturi, eaque omnis. Ratione asperiores error laboriosam quasi beatae quaerat optio. Aspernatur libero adipisci ea deleniti distinctio.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime fugit neque doloremque molestias excepturi, eaque omnis. Ratione asperiores error laboriosam quasi beatae quaerat optio. Aspernatur libero adipisci ea deleniti distinctio.</p>

    </div>
    <div class="concours__link">
      <button class="button__general">button 1</button>
      <button class="button__general">button 1</button>
      <button class="button__general">button 1</button>
    </div>
  </div>
</div>
