<div class="block__presentation">
  <div class="image__presentation">
    <div class="img-fluid-container">
      <a href="" alt="">
        <img src="img/lorem.png" alt="" />
      </a>
    </div>
  </div>
  <div class="infos__presentation">
    <p class="category">category</p>
    <h3>Grand titre ici</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consequatur laboriosam, amet veritatis maxime explicabo accusantium eos minus doloremque fugit! Est corporis nihil consequuntur repellat molestias, quae nemo, voluptas rerum. </br></br>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore debitis deleniti repellendus molestiae ad reiciendis minus explicabo sed assumenda aut voluptates, cumque enim repellat dolore quibusdam unde, quis ratione. Officia!</p>
    <button class="button__general">me contacter</button>
  </div>
</div>
