<div class="article__box">
  <div class="container">
    <div class="article__box__image">
      <div class="img-fluid-container">
        <a href="" alt="">
          <img src="img/lorem.png" alt="" />
        </a>
      </div>
    </div>
    <p class="category">catégorie</p>
    <h3>Titre de l'article</h3>
    <p>Pause thé dans le Marais au tout mignon salon et petit salon de thé Lily of the Valley, petit salon de thé Lily of the Valley. Pause thé dans le Marais au tout mignon salon et petit salon. </p>
  </div>
</div>
