<div class="calendar__main">
  <div class="calendar__item">
    <h3>20/04</h3>
    <div class="infos">
      <p class="category">category</p>
      <p>Lorem ipsum dolores itae sesdsdsdt</p>
    </div>
  </div>

  <div class="calendar__item">
    <h3>20/04</h3>
    <div class="infos">
      <p class="category">category</p>
      <p>Lorem ipsum dolores itae sesdsdsdt</p>
    </div>
  </div>

  <div class="calendar__item">
    <h3>20/04</h3>
    <div class="infos">
      <p class="category">category</p>
      <p>Lorem ipsum dolores itae setsdsds</p>
    </div>
  </div>

  <div class="calendar__item">
    <h3>20/04</h3>
    <div class="infos">
      <p class="category">category</p>
      <p>Lorem ipsum dolores itae sesdsdsdt</p>
    </div>
  </div>
</div>
