<div class="container__contactForm">



  <!-- type de visiteur -->
  <div class="input__row">
    <p>Vous êtes ?</p>
    <div class="align__items__form">
      <div class="custom__radio">
        <label class="custom__radio__label">
          <input type="radio" class="custom__radio__element" id="particulier" name="user-type" checked>
          <div class="check__radio__element"></div>
          <span class="span__label">Un particulier</span>
        </label>
      </div>
      <div class="custom__radio">
        <label class="custom__radio__label">
          <input type="radio" class="custom__radio__element" id="particulier" name="user-type">
          <div class="check__radio__element"></div>
          <span class="span__label">Un professionnel</span>
        </label>
      </div>
    </div>
  </div>




  <!-- VISITEURS -->
  <form class="form" method="post" action="#">
    <div class="form__category form__visiteur">
      <div class="input__row">
        <p class="form__error">Vous devez entrer un nom valide</p>
        <p class="form__error">Vous devez entrer une adresse email valide</p>
        <div class="align__items__form double__input">
          <input class="general__input" type="text" id="user-name" name="user-name" placeholder="Nom de l'entreprise" />
          <input class="general__input" type="text" id="user-email" name="user-email" placeholder="Votre email" />
        </div>
      </div>

      <div class="input__row">
        <div class="form__erors__container">
          <p class="form__error">Vous devez entrer un sujet</p>
        </div>
        <input class="general__input" type="text" id="user-subject" name="user-subject" placeholder="Le sujet" />
      </div>

      <div class="input__row">
        <div class="form__erors__container">
          <p class="form__error">Vous devez entrer un sujet</p>
        </div>
        <textarea class="general__input general__textarea" id="user-message" name="user-message" placeholder="votre message"></textarea>
      </div>

      <div class="input__row select__area">
        <p>En tant que professionnel, quels sont le/les domaines d’activité de Restez In qui vous intéressent ? )</p>
        <div class="align__items__form multiAlign">

          <div class="custom__checkbox">
            <label class="custom__checkbox__label">
              <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
              <div class="check__checkbox__element"></div>
              Item
            </label>
          </div>

          <div class="custom__checkbox">
            <label class="custom__checkbox__label">
              <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
              <div class="check__checkbox__element"></div>
              Item
            </label>
          </div>

          <div class="custom__checkbox">
            <label class="custom__checkbox__label">
              <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
              <div class="check__checkbox__element"></div>
              Item
            </label>
          </div>

          <div class="custom__checkbox">
            <label class="custom__checkbox__label">
              <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
              <div class="check__checkbox__element"></div>
              Item
            </label>
          </div>

          <div class="custom__checkbox">
            <label class="custom__checkbox__label">
              <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
              <div class="check__checkbox__element"></div>
              Item
            </label>
          </div>

          <div class="custom__checkbox">
            <label class="custom__checkbox__label">
              <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
              <div class="check__checkbox__element"></div>
              Item
            </label>
          </div>

          <div class="custom__checkbox">
            <label class="custom__checkbox__label">
              <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
              <div class="check__checkbox__element"></div>
              Item
            </label>
          </div>

          <div class="custom__checkbox">
            <label class="custom__checkbox__label">
              <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
              <div class="check__checkbox__element"></div>
              Item
            </label>
          </div>

          <div class="custom__checkbox">
            <label class="custom__checkbox__label">
              <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
              <div class="check__checkbox__element"></div>
              Item
            </label>
          </div>

          <div class="custom__checkbox">
            <label class="custom__checkbox__label">
              <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
              <div class="check__checkbox__element"></div>
              Item
            </label>
          </div>

          <div class="custom__checkbox">
            <label class="custom__checkbox__label">
              <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
              <div class="check__checkbox__element"></div>
              Item
            </label>
          </div>

          <div class="custom__checkbox">
            <label class="custom__checkbox__label">
              <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
              <div class="check__checkbox__element"></div>
              Item
            </label>
          </div>

          <div class="custom__checkbox">
            <label class="custom__checkbox__label">
              <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
              <div class="check__checkbox__element"></div>
              Item
            </label>
          </div>

          <div class="custom__checkbox">
            <label class="custom__checkbox__label">
              <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
              <div class="check__checkbox__element"></div>
              Item
            </label>
          </div>

        </div>
      </div>
      <div class="input__row">
        <button class="button__general form__send__button" type="submit">Envoyer mon message</button>
      </div>
    </div>
  </form>






  <!-- PROFESSIONNELS -->
  <div class="form__category form__professionnels">
    <form class="form" method="post" action="#">
      <div class="form__category form__visiteur">
        <div class="input__row">
          <p class="form__error">Vous devez entrer un nom valide</p>
          <p class="form__error">Vous devez entrer une adresse email valide</p>
          <div class="align__items__form double__input">
            <input class="general__input" type="text" id="user-name" name="user-name" placeholder="Votre prénom" />
            <input class="general__input" type="text" id="user-email" name="user-email" placeholder="Votre email" />
          </div>
        </div>

        <div class="input__row">
          <p class="form__error">Vous devez entrer un sujet</p>
          <input class="general__input" type="text" id="user-subject" name="user-subject" placeholder="Le sujet" />
        </div>

        <div class="input__row">
          <p class="form__error">Vous devez entrer un message</p>
          <textarea class="general__input general__textarea" id="user-message" name="user-message" placeholder="votre message"></textarea>
        </div>

        <div class="input__row select__area">
          <p>Quelles sont les catégories qui t’intéressent ? (facultatif)</p>
          <div class="align__items__form multiAlign">

            <div class="custom__checkbox">
              <label class="custom__checkbox__label">
                <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
                <div class="check__checkbox__element"></div>
                Item
              </label>
            </div>

            <div class="custom__checkbox">
              <label class="custom__checkbox__label">
                <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
                <div class="check__checkbox__element"></div>
                Item
              </label>
            </div>

            <div class="custom__checkbox">
              <label class="custom__checkbox__label">
                <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
                <div class="check__checkbox__element"></div>
                Item
              </label>
            </div>

            <div class="custom__checkbox">
              <label class="custom__checkbox__label">
                <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
                <div class="check__checkbox__element"></div>
                Item
              </label>
            </div>

            <div class="custom__checkbox">
              <label class="custom__checkbox__label">
                <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
                <div class="check__checkbox__element"></div>
                Item
              </label>
            </div>

            <div class="custom__checkbox">
              <label class="custom__checkbox__label">
                <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
                <div class="check__checkbox__element"></div>
                Item
              </label>
            </div>

            <div class="custom__checkbox">
              <label class="custom__checkbox__label">
                <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
                <div class="check__checkbox__element"></div>
                Item
              </label>
            </div>

            <div class="custom__checkbox">
              <label class="custom__checkbox__label">
                <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
                <div class="check__checkbox__element"></div>
                Item
              </label>
            </div>

            <div class="custom__checkbox">
              <label class="custom__checkbox__label">
                <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
                <div class="check__checkbox__element"></div>
                Item
              </label>
            </div>

            <div class="custom__checkbox">
              <label class="custom__checkbox__label">
                <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
                <div class="check__checkbox__element"></div>
                Item
              </label>
            </div>

            <div class="custom__checkbox">
              <label class="custom__checkbox__label">
                <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
                <div class="check__checkbox__element"></div>
                Item
              </label>
            </div>

            <div class="custom__checkbox">
              <label class="custom__checkbox__label">
                <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
                <div class="check__checkbox__element"></div>
                Item
              </label>
            </div>

            <div class="custom__checkbox">
              <label class="custom__checkbox__label">
                <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
                <div class="check__checkbox__element"></div>
                Item
              </label>
            </div>

            <div class="custom__checkbox">
              <label class="custom__checkbox__label">
                <input type="checkbox" class="custom__checkbox__element" id="checkbox-tout" name="checkbox-tout">
                <div class="check__checkbox__element"></div>
                Item
              </label>
            </div>

          </div>
        </div>
        <div class="input__row">
          <button class="button__general form__send__button" type="submit">Envoyer mon message</button>
        </div>
      </div>
    </form>
  </div>

</div>
