.header__mobileContect {
  display:none;
  @media screen and ( max-width:$tablet ) {
    display:block;
    width:100%;
    padding:20px 0px;
  }

  h3 {
    font-family: Montserrat;
    font-size:22px;
    line-height:26px;
    margin-top:40px;
    text-indent:(100% / 12 ) * 2;
  }
}

.header__close {
  width:20px;
  height:20px;
  background:url(../img/icons/close.png);
  background-size:cover;
  cursor:pointer;
}
