.navigation__mobile {
  width:100%;
  align-items:center;
  justify-content:space-between;
  height:85px;
  display:none;
  @media screen and ( max-width:$tablet ) {
    display:flex;
    width:100%;
    height:85px;

  }
}

.navigation__mobile__burger {
  width:28px;
  height:22px;
  background:url(../img/icons/burger.png);
  background-repeat:no-repeat;
}

.navigation__mobile__search {
  width:28px;
  height:22px;
  background:url(../img/icons/loupe2.png);
  background-repeat:no-repeat;
  cursor:pointer;
}
