<!-- @include ./partials/header.html -->

<div class="contenu">
  <div class="container__aside">
    <div class="constraint__layer--apropos">
      <h1 class="title">À propos</h1>
    </div>
  </div>
   <div class="container__side">
      <!-- @include ./partials/blockApropos.html -->
      <!-- @include ./partials/blockApropos.html -->
      <!-- @include ./partials/blockApropos.html -->
   </div>
   <div class="clear"></div>
</div>
<script src="js/slider.js"></script>
<!-- @include ./partials/footer.html -->
