<!-- @include ./partials/header.html -->

<div class="contenu">
  <div class="container__aside container__aside--article">
      <!-- @include ./partials/article__aside.html -->

  </div>
  <div class="container__side">
    <div class="article">
      <!-- @include ./partials/article__hero.html -->
      <!-- @include ./partials/article__contenu.html -->
      <!-- @include ./partials/article__box.html -->
      <!-- @include ./partials/article__concours.html -->
    </div>
    <h2 class="title">Derniers Articles</h2>
    <div class="articles__list container__content">
      <!-- @include ./partials/block__article.html -->
      <!-- @include ./partials/block__article.html -->
    </div>
    <div class="commentaires">
      <!-- @include ./partials/article__commentaires.html -->
    </div>
  </div>
  <div class="clear"></div>
</div>
<!-- @include ./partials/footer.html -->
