<!-- @include ./partials/header.html -->

<div class="contenu">
  <div class="container__aside">
    <div class="constraint__layer--apropos">
      <h1 class="title">Culture</h1>
    </div>
    <!-- @include ./partials/filtre.html -->
  </div>
   <div class="container__side">
      <!-- @include ./partials/cat_hero.html -->
      <h2 class="title title__mobileOnly">Derniers Articles</h2>
      <div class="articles__list container__content">
         <!-- @include ./partials/block__article.html -->
         <!-- @include ./partials/block__article.html -->
         <!-- @include ./partials/block__article.html -->
         <!-- @include ./partials/block__article.html -->
      </div>
      <div class="container__content concours__moment">
         <!-- @include ./partials/block__concours.html -->
      </div>
      <div class="articles__list container__content">
         <!-- @include ./partials/block__article.html -->
         <!-- @include ./partials/block__article.html -->
         <!-- @include ./partials/block__article.html -->
         <!-- @include ./partials/block__article.html -->
         <div class="fluid__container button__container">
          <button class="button__general button__loadmore">Voir plus d'articles</button>
         </div>
      </div>
   </div>
   <div class="clear"></div>
</div>
<script src="js/slider.js"></script>
<!-- @include ./partials/footer.html -->
