<!-- @include ./partials/header.html -->
<div class="contenu">
  <div class="container__aside">
    <div class="constraint__layer--contact">
      <h1 class="title">Me contacter</h1>
      <p class="prof__only">
        Pour tout contact professionnel, vous pouvez remplir le formulaire  ci-dessous ou bien me contacter via cet email : angelique@restezin.com
      </p>
    </div>
  </div>
   <div class="container__side">
     <!-- @include ./partials/contactform.html -->
   </div>
   <div class="clear"></div>
</div>
<script src="js/slider.js"></script>
<!-- @include ./partials/footer.html -->
