<!-- @include ./partials/header.html -->

<div class=" page container thank">
   <section class="content">
      <p class="intro_text">validation de votre achat</p>
      <h2>Merci pour votre commande !</h2>

         <p class="content_paragraphe">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quisquam, ipsum aliquid quidem quibusdam neque aliquam, beatae repellendus doloremque quasi soluta a, cupiditate doloribus iste? Atque, repudiandae ea in laudantium.</p>

      <div class="link_end_tunnel">
         <p class="cta">retour à la page d'accueil</p>
         <div class="button">retour à la boutique</div>
      </div>
   </section>
</div>

<!-- @include ./partials/footer.html -->